<%- include('header'); -%>
<body>
  <form action="/" method="POST">
    <input type="text" id="content" name="content" value="" required />
    <button>Submit</button>
  </form>
  <ul class="todos">
    <% for (let todo of todos) { %>
    <li>
      <%= todo.content %>, due by <%= todo.date %>

      <a href="/<%=todo._id%>/edit">Edit</a>
      <form action="/<%=todo._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </li>
    <% } %>
  </ul>
</body>
<%- include('footer'); -%>
